.inter-font {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  padding: 20px;
}

.sidebar {
  font-family: "Inter", serif;
  width: 250px;
  background-color: #f4f4f4;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.category {
  cursor: pointer;
  padding: 5px;
  background-color: #e2e2e2;
  border-radius: 5px;
  margin-bottom: 5px;
}

.category-items {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

.category-items li {
  cursor: pointer;
  padding: 5px;
  margin: 2px 0;
}

.category-items li:hover {
  background-color: #ddd;
}

.category-items li.active {
  background-color: #bbb;
}

.content {
  margin-left: 20px;
  padding: 0 20px;
  width: calc(100% - 220px);
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  display: inline-block;
  width: 75vw;
  height: 85vh;
}

.image-container {
  max-width: 100%;
  width: auto;
  max-height: 84%;
  height: auto;
  display: flex;
}

.card-image {
  width: auto;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.navigation-buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.copyMessage {
  position: absolute;
  top: 40px;
  color: green;
  font-size: 16px;
}

.button-48 {
  appearance: none;
  background-color: #ffffff;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ebebeb;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #ffffff;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.description {
  position: absolute;
  font-size: 1.3rem;
  background-color: white;
  padding: 20px 5px;
  max-width: 75%;
}
